.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.868652;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.718750;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.104492;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.940918;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.145000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.145000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-ms-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-webkit-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);}
.m1{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m2{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{margin-left:-3.976000px;}
._2{margin-left:-2.640000px;}
._3{margin-left:-1.104000px;}
._1{width:1.152000px;}
._4{width:2.256000px;}
._0{width:3.408000px;}
._5{width:5.040000px;}
._7{width:6.664000px;}
._6{width:8.112000px;}
.fc2{color:rgb(5,99,193);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(0,32,96);}
.fs8{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs7{font-size:50.840293px;}
.fs6{font-size:56.000000px;}
.fs1{font-size:72.000000px;}
.fs5{font-size:80.000000px;}
.fs2{font-size:144.000000px;}
.fs0{font-size:152.520879px;}
.fs3{font-size:203.361172px;}
.y8{bottom:4.333001px;}
.y23{bottom:18.973972px;}
.y0{bottom:21.500000px;}
.y7{bottom:25.681995px;}
.y6{bottom:30.911959px;}
.y22{bottom:33.864972px;}
.y24{bottom:35.500000px;}
.y5{bottom:61.247957px;}
.y21{bottom:79.646985px;}
.y3d{bottom:91.292981px;}
.y20{bottom:102.537998px;}
.y1f{bottom:117.428998px;}
.y4{bottom:118.021999px;}
.y1e{bottom:140.319981px;}
.y3c{bottom:154.294991px;}
.y1d{bottom:155.210980px;}
.y3{bottom:170.580990px;}
.y3b{bottom:172.998993px;}
.y1c{bottom:178.102002px;}
.y3a{bottom:191.702993px;}
.y1b{bottom:200.992985px;}
.y39{bottom:210.406973px;}
.y1a{bottom:215.883985px;}
.y2{bottom:223.139980px;}
.y38{bottom:229.110985px;}
.y19{bottom:238.774990px;}
.y37{bottom:247.814980px;}
.y18{bottom:253.665989px;}
.y36{bottom:266.518982px;}
.y17{bottom:268.556989px;}
.y1{bottom:275.699001px;}
.y35{bottom:285.222982px;}
.y16{bottom:291.448002px;}
.y34{bottom:303.926994px;}
.y15{bottom:306.339002px;}
.y33{bottom:322.630989px;}
.y14{bottom:329.229984px;}
.y32{bottom:341.334991px;}
.y13{bottom:344.120984px;}
.y31{bottom:360.038992px;}
.y12{bottom:367.011993px;}
.y30{bottom:381.298992px;}
.y11{bottom:381.902996px;}
.y10{bottom:396.793995px;}
.y2f{bottom:411.133991px;}
.yf{bottom:411.684995px;}
.y2e{bottom:426.024991px;}
.ye{bottom:434.575989px;}
.y2d{bottom:448.915985px;}
.yd{bottom:449.466988px;}
.y2c{bottom:463.806988px;}
.yc{bottom:464.357990px;}
.y2b{bottom:478.697987px;}
.yb{bottom:479.248989px;}
.y2a{bottom:493.588986px;}
.ya{bottom:494.139989px;}
.y44{bottom:499.683988px;}
.y3e{bottom:515.000000px;}
.y29{bottom:516.479988px;}
.y43{bottom:517.482991px;}
.y9{bottom:528.745989px;}
.y28{bottom:531.370987px;}
.y42{bottom:535.281987px;}
.y27{bottom:546.261987px;}
.y41{bottom:552.656987px;}
.y40{bottom:568.155988px;}
.y26{bottom:569.152988px;}
.y25{bottom:584.043988px;}
.y3f{bottom:584.283988px;}
.hc{height:1.500000px;}
.he{height:29.218750px;}
.hb{height:34.968750px;}
.hd{height:35.498837px;}
.h4{height:38.099999px;}
.h7{height:42.914062px;}
.ha{height:45.752000px;}
.h3{height:52.453125px;}
.h9{height:65.360000px;}
.h8{height:102.000000px;}
.h5{height:103.500000px;}
.h2{height:106.496512px;}
.h6{height:141.995350px;}
.h1{height:552.000000px;}
.h0{height:595.299988px;}
.w2{width:33.850001px;}
.w3{width:94.000000px;}
.w4{width:130.000000px;}
.w1{width:255.500000px;}
.w0{width:841.900024px;}
.x2{left:7.200000px;}
.x0{left:12.500000px;}
.x3{left:48.150002px;}
.x6{left:54.500000px;}
.x1{left:232.549997px;}
.x5{left:309.579987px;}
.x4{left:459.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._8{margin-left:-5.301333pt;}
._2{margin-left:-3.520000pt;}
._3{margin-left:-1.472000pt;}
._1{width:1.536000pt;}
._4{width:3.008000pt;}
._0{width:4.544000pt;}
._5{width:6.720000pt;}
._7{width:8.885333pt;}
._6{width:10.816000pt;}
.fs8{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs7{font-size:67.787057pt;}
.fs6{font-size:74.666667pt;}
.fs1{font-size:96.000000pt;}
.fs5{font-size:106.666667pt;}
.fs2{font-size:192.000000pt;}
.fs0{font-size:203.361172pt;}
.fs3{font-size:271.148230pt;}
.y8{bottom:5.777335pt;}
.y23{bottom:25.298630pt;}
.y0{bottom:28.666667pt;}
.y7{bottom:34.242661pt;}
.y6{bottom:41.215945pt;}
.y22{bottom:45.153296pt;}
.y24{bottom:47.333333pt;}
.y5{bottom:81.663943pt;}
.y21{bottom:106.195980pt;}
.y3d{bottom:121.723975pt;}
.y20{bottom:136.717331pt;}
.y1f{bottom:156.571997pt;}
.y4{bottom:157.362666pt;}
.y1e{bottom:187.093307pt;}
.y3c{bottom:205.726654pt;}
.y1d{bottom:206.947974pt;}
.y3{bottom:227.441320pt;}
.y3b{bottom:230.665324pt;}
.y1c{bottom:237.469336pt;}
.y3a{bottom:255.603991pt;}
.y1b{bottom:267.990646pt;}
.y39{bottom:280.542631pt;}
.y1a{bottom:287.845313pt;}
.y2{bottom:297.519974pt;}
.y38{bottom:305.481313pt;}
.y19{bottom:318.366653pt;}
.y37{bottom:330.419973pt;}
.y18{bottom:338.221319pt;}
.y36{bottom:355.358643pt;}
.y17{bottom:358.075985pt;}
.y1{bottom:367.598668pt;}
.y35{bottom:380.297310pt;}
.y16{bottom:388.597336pt;}
.y34{bottom:405.235992pt;}
.y15{bottom:408.452002pt;}
.y33{bottom:430.174652pt;}
.y14{bottom:438.973312pt;}
.y32{bottom:455.113322pt;}
.y13{bottom:458.827979pt;}
.y31{bottom:480.051989pt;}
.y12{bottom:489.349325pt;}
.y30{bottom:508.398656pt;}
.y11{bottom:509.203995pt;}
.y10{bottom:529.058660pt;}
.y2f{bottom:548.178655pt;}
.yf{bottom:548.913326pt;}
.y2e{bottom:568.033321pt;}
.ye{bottom:579.434652pt;}
.y2d{bottom:598.554647pt;}
.yd{bottom:599.289317pt;}
.y2c{bottom:618.409317pt;}
.yc{bottom:619.143987pt;}
.y2b{bottom:638.263982pt;}
.yb{bottom:638.998652pt;}
.y2a{bottom:658.118649pt;}
.ya{bottom:658.853319pt;}
.y44{bottom:666.245317pt;}
.y3e{bottom:686.666667pt;}
.y29{bottom:688.639984pt;}
.y43{bottom:689.977322pt;}
.y9{bottom:704.994652pt;}
.y28{bottom:708.494649pt;}
.y42{bottom:713.709316pt;}
.y27{bottom:728.349316pt;}
.y41{bottom:736.875983pt;}
.y40{bottom:757.541317pt;}
.y26{bottom:758.870651pt;}
.y25{bottom:778.725318pt;}
.y3f{bottom:779.045317pt;}
.hc{height:2.000000pt;}
.he{height:38.958333pt;}
.hb{height:46.625000pt;}
.hd{height:47.331783pt;}
.h4{height:50.799999pt;}
.h7{height:57.218750pt;}
.ha{height:61.002667pt;}
.h3{height:69.937500pt;}
.h9{height:87.146667pt;}
.h8{height:136.000000pt;}
.h5{height:138.000000pt;}
.h2{height:141.995350pt;}
.h6{height:189.327133pt;}
.h1{height:736.000000pt;}
.h0{height:793.733317pt;}
.w2{width:45.133334pt;}
.w3{width:125.333333pt;}
.w4{width:173.333333pt;}
.w1{width:340.666667pt;}
.w0{width:1122.533366pt;}
.x2{left:9.600000pt;}
.x0{left:16.666667pt;}
.x3{left:64.200002pt;}
.x6{left:72.666667pt;}
.x1{left:310.066663pt;}
.x5{left:412.773315pt;}
.x4{left:612.000000pt;}
}
